* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    
}

body{
    background-image: url("assets/maxresdefault.jpg");
    width: 100%;
}
/* NavBar area */

.navbar {
    background-image: url("assets/maxresdefault.jpg");
    height: 11.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 11.5em;
    z-index: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 21px;
    /* padding-bottom: 0; */
}

.social__icons {
    background-color: grey;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    list-style: none;
    display: flex;
    align-items: flex-start;
}

#social{
    padding-right: 1em;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
}

#social:hover{
    background: lightgray;
    transition: all 0.7s ease-in-out;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#social__border{
    padding: 0px 0px 0px 16px; 
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    border-left: solid rgb(85, 85, 85);
    border-width: thin;
}

#social__border:hover{
    background: lightgray;
    transition: all 0.7s ease-in-out;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__logo {
    height: 5.5em;
}

.search__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: rgba(68, 68, 68, 0.6);
    width: 16em;
    height: 2.5em;
    padding: 7px;
    border-radius: 5px;
}

.search__box .input {
    width: 90%;
    height: 100%;
    border: none;
    background: transparent;
    padding-left: 1em;
    font-size: large;
}

.search__btn {
    font-size: 1.3em;
    background-color: grey;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
}

.register {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 9px;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.1em;
    margin: auto;
    top: 8.4em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0);
    border-top: solid rgb(75, 75, 75);
    border-width: thin;
}

.navbar__menu .navbar__item {
    /* background: rgb(0, 0, 0); */
    padding: .9em 2em;    
    bottom: 0px;
    /* border-top: solid rgb(75, 75, 75); */
    border-left: solid rgb(75, 75, 75);
    border-right: solid rgb(75, 75, 75);
    border-width: thin;
    list-style: none;
}

.navbar__menu .navbar__itemRight{
    /* background: rgb(0, 0, 0); */
    padding: .9em 2em;    
    bottom: 0px;
    /* border-top: solid rgb(75, 75, 75); */
    border-right: solid rgb(75, 75, 75);
    border-width: thin;
    list-style: none;
}


.navbar .navbar__container .nav__right .register p {
    color: grey;
    padding: 0 0.7em;
}

#navbar__links {
    background: rgb(0, 0, 0);
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

#navbar__links:hover {
    color: lightgray;
    transition: all 0.7s ease-in-out;
}

/* Hero Section */

.main {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main a {
    text-decoration: none;
}

.main__heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-top: solid rgb(75, 75, 75);
    border-width: thin;
    background-color: rgb(15, 15, 15);
    height: 3em;
}

/* carousel */

.carousel__wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}

.carousel__wrapper ::-webkit-scrollbar {
    width: 0;
  }
  
.carousel__wrapper ::-webkit-scrollbar-track {
    background: transparent;
  }
  
.carousel__wrapper ::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
.carousel__wrapper{
    -ms-overflow-style: none;
  }

ol, li {
    list-style: none;
    
}

.carousel {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.carousel__viewport {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    /* Three values: flex-grow | flex-shrink | flex-basis */
    flex: 0 0 100%;
    width: 100%;
}

.carousel__slide-overlay1 {
    position: absolute;
    width: 1000px;
    padding: 7em 14em;
    color: white;

}

#overlay__heading {
    font-size: 3em;
    font-weight: bold;
}

#overlay__subtext {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}

.navbar__btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 16em;
    height: 3em;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff000d;
    color: #fff;
    font-weight: bolder;
}

.button1:hover {
    transition: 0.2s;
    background: #ff3741;
}

.carousel__slide-overlay2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 7em 14em;
    width: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 16em;
    height: 3em;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(255, 174, 0);
    color: black;
    font-weight: bolder;
}

.button2:hover {
    transition: 0.2s;
    background: rgb(255, 190, 50);
}

.carousel__slide img {
    width: 100%;
    height: 100%;
}

.carousel__snapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 50%;
    left: 5%;
    right: 5%;
}

.carousel__navigation {
    position: absolute;
    width:  1200px;
    padding-bottom: 17px;
}

.carousel__navigation-list {
    display: flex;
    justify-content: space-between;

}

.carousel__navigation-item {
    background-color: grey;
    width: 16.5em;
    height: 8.5em;

}

.carousel__navigation-item:hover {
    transform: scale(1.02);
    transition: transform .2s;
}

.carousel__navigation-item img{
    width: 100%;
    height: 100%;
}

.carousel__nav-text {
    position: absolute;
    padding: 1em;
    color:white;
    font-weight: bold;
}

.carousel__prev {
    font-size: 3em;
    color: black;    
}

.carousel__prev:hover {
    color: rgb(73, 73, 73);
    transition: 0.3s;
}

.carousel__next {
    font-size: 3em;
    color: black;
}

.carousel__next:hover {
    color: rgb(73, 73, 73);
    transition: 0.3s;
}

/* main static */

.main__static {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    
}

.main__static img {
    width: 100%;
    max-height: 1200px;
}

.main__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 7em;
    font-weight: bolder;
}

.main__content-overlay2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 1000px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#main__overlay-img {
    padding-top: 5em;
    height: 20em;
    width: 32em;
}

.main__content-overlay2 p {
    max-width: 700px;
    color: rgb(107, 107, 107);
}

.main__content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 10em;
    height: 3em;
}

.main__content-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.main__content-card {
    background-color: rgba(0, 0, 0, 0.671);
    height: 10em;
    width: 28em;
    border-radius: 10px;
    display: flex;
}

.main__content-card  img {
    width: 250px;
    border-radius: 5px;
}

.main__content-card  img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.main__content-aside h3 {
    padding: 1em;
}

.main__content-cards2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.main__content-card2 {
    background-color: rgba(0, 0, 0, 0.671);
    height: 30em;
    width: 28em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.main__content-card2 img {
    width: 100%;
    height: 18.7em;
    border-radius: 5px;
}

.main__content-card2 img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.main__content-aside2 h3 {
    padding: 1em;
}



