* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

/* Nav Bar area */

.navbar {
    background-image: url(/javaScriptLibrary/projects/staticLayout/assets/star-wars-backgrounds-25-stars.jpg);
    height: 12.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: sticky;
    top: 0px;
    z-index: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 12.5em;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 21px 21px;
}

.social__icons {
    background-color: grey;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    list-style: none;
    display: flex;
    align-items: flex-start;
}

#social{
    padding-right: 1em;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
}

#social__border{
    padding: 8px 8px 8px 16px; 
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    border-left: solid grey;
    border-width: thin;
}

.main__logo {
    height: 6em;
}

.search__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: rgba(116, 115, 115, 0.6);
    width: 16em;
    height: 2.5em;
    padding: 7px;
    border-radius: 5px;
}

.search__box .input {
    width: 90%;
    height: 100%;
    border: none;
    background: transparent;
}

.search__btn {
    background-color: grey;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.register {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    margin: auto;
    top: 9em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    bottom: 0px;
    background: black;
    border-top: solid grey;
    border-width: thin;
}

.navbar__menu .navbar__item {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    padding: 1.1em 2em;    
    bottom: 0px;
    border-top: solid grey;
    border-left: solid grey;
    border-right: solid grey;
    border-width: thin;
}


